/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Kaushan Script', cursive; */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
body {
    margin: 0;
    font-family: "lato", sans-serif;
    background-color: #f7f7f7;

}
/* Navigation */
.navigation{
    background-color: #f0ead6;
    text-align: center;
    height: 10rem;
}
.navigation a{
    font-size: 3rem;
    padding: 1rem 5rem;
}