/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Kaushan Script', cursive; */
*,
/* ::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
/* === root/html === */
:root {
    /* palette couleur */
    --main-white: #dddddd;
    --shade-white: #d3d3d3;
    --main-black: #181818;
    --main-yellow: #e6d28c;
    --dark-yellow: #f4cb38;

    /* Fonts */
    --font-base: Lato, sans-serif;
    --font-title: Kaushan Script, serif;

    /* Font-size */
    --size-title: calc(3rem + 4vw);
    --size-sub-title: calc(1.5rem + 3vw);
    --size-section-title: calc(1.5rem + 2vw);
    --text-sm: 1.4rem;
    --text-base: 1.6rem;
    --text-md: 1.8rem;
    --text-lg: 2rem;
    --text-xl: 2.4rem;
    --text-2xl: 3rem;
    --text-3xl: 3.6rem;
    --text-4xl: 4.2rem;
    --text-5xl: 5rem;
    --text-6xl: 6rem;
    --text-7xl: 7.2rem;

    /* Spacing */
    --space-1: 0.1rem;
    --space-2: 0.2rem;
    --space-4: 0.4rem;
    --space-6: 0.6rem;
    --space-8: 0.8rem;
    --space-10: 1rem;
    --space-12: 1.2rem;
    --space-16: 1.6rem;
    --space-20: 2rem;
    --space-28: 2.8rem;
    --space-36: 3.6rem;
    --space-44: 4.4rem;
    --space-52: 5.2rem;
    --space-60: 6rem;
    --space-72: 7.2rem;
    --space-84: 8.4rem;
    --space-96: 9.6rem;
}

html {
    font-size: 62.5%;
    behavior: "smooth";
}
body {
    font-family: var(--font-base);
    background-color: #f7f7f7;
}
/* === Header === */
#home {
    width: 100%;
    height: 95vh;
}
.container{
    max-width: 1100px;
}
/* Navigation */
.navigation {
    width: 100%;
    height: var(--space-96);
    background-color: #f0ead6;
    text-align: center;
}
/* setting navbar-brand */
.navbar-brand {
    color: var(--main-black) !important;
    font-size: 45px !important ;
    font-family: "Kaushan Script" !important;
    transition: all 0.4s ease;
}
.navbar-nav {
    margin-left: auto;
}
.nav-item {
    margin-right: var(--space-20);
}
/* setting a */
.nav-link {
    color: var(--main-black) !important;
    font-family: "Lato" !important;
    font-size: var(--text-xl);
    font-weight: 600;
    /* transition: all 0.4s ease; */
}
/* seting button hamburger nav */
/* to do faire anim avec la croix */
nav button img {
    width: var(--text-3xl);
    height: var(--text-3xl);
}

/*=== setting scroll to top ===*/
/* btn scrollup */
.btn-scrollup {
    width: 90px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
}
.icone {
    width: 60px;
}
.btn-scrollup.active {
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
/* responsive scrollup */
@media screen and (max-width: 550px) {
    .btn-scrollup {
        width: 60px;
        height: 60px;
    }
    .icone {
        width: 50px;
    }
    .btn-scrollup.active {
        visibility: visible;
        opacity: 1;
    }
}
/* === global utilities class === */
/* setting h1 h2 p */
.main-title {
    color: var(--main-white);
    font-family: var(--font-title);
    font-size: var(--size-title);
    font-weight: 500;
}
.sub-title {
    color: var(--shade-white);
    font-family: var(--sub-title);
    font-size: var(--size-sub-title);
    font-weight: 300;
}
.section-title {
    font-family: var(--font-title);
    font-size: var(--size-section-title);
    font-weight: 300;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
}
.section-title img {
    width: var(--text-6xl);
    margin-left: var(--space-16);
}
.section-sub-title {
    font-size: var(--text-xl);
    text-align: center;
    margin: var(--space-72) 0;
}
.heading-h3 {
    display: flex;
    align-items: center;
    font-size: var(--text-lg);
}
.heading-h3 img {
    width: var(--text-6xl);
    margin-right: var(--space-6);
}
.heading-h4 {
    font-size: var(--text-lg);
}
.heading-h3,
.heading-h4 {
    font-family: var(--font-title);
    text-transform: uppercase;
    letter-spacing: 1px;
}
main {
    max-width: 1100px;
    margin: 0 auto;
}

/* === section about === */
#about {
    width: 100%;
    height: 95vh;
}
img {
    width: 50px;
}
